<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated hal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hal.presentation.HalModelWizardID"
            name="%_UI_HalModelWizard_label"
            class="hal.presentation.HalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HalModelFile.gif">
         <description>%_UI_HalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated hal -->
      <editor
            id="hal.presentation.HalEditorID"
            name="%_UI_HalEditor_label"
            icon="icons/full/obj16/HalModelFile.gif"
            extensions="hal"
            class="hal.presentation.HalEditor"
            contributorClass="hal.presentation.HalActionBarContributor">
      </editor>
   </extension>

</plugin>
